:root {
    --color-brand--1: #ffb545;
    --color-brand--2: #00c46a;

    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: rgb(214, 222, 224);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('./libraries/IS/eot/iransansweb_fanum__Black.eot');
    src: url('./libraries/IS/eot/iransansweb_fanum__Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./libraries/IS/woff2/iransansweb_fanum__Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./libraries/IS/woff/iransansweb_fanum__Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./libraries/IS/ttf/iransans_fanum__Black.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('./libraries/IS/eot/iransansweb_fanum__Bold.eot');
    src: url('./libraries/IS/eot/iransansweb_fanum__Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./libraries/IS/woff2/iransansweb_fanum__Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./libraries/IS/woff/iransansweb_fanum__Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./libraries/IS/ttf/iransans_fanum__Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('./libraries/IS/eot/iransansweb_fanum__Medium.eot');
    src: url('./libraries/IS/eot/iransansweb_fanum__Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./libraries/IS/woff2/iransansweb_fanum__Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./libraries/IS/woff/iransansweb_fanum__Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./libraries/IS/ttf/iransans_fanum__Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('./libraries/IS/eot/iransansweb_fanum__Light.eot');
    src: url('./libraries/IS/eot/iransansweb_fanum__Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./libraries/IS/woff2/iransansweb_fanum__Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./libraries/IS/woff/iransansweb_fanum__Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./libraries/IS/ttf/iransans_fanum__Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('./libraries/IS/eot/iransansweb_fanum__UltraLight.eot');
    src: url('./libraries/IS/eot/iransansweb_fanum__UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./libraries/IS/woff2/iransansweb_fanum__UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./libraries/IS/woff/iransansweb_fanum__UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./libraries/IS/ttf/iransans_fanum__UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('./libraries/IS/eot/iransansweb_fanum_.eot');
    src: url('./libraries/IS/eot/iransansweb_fanum_.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./libraries/IS/woff2/iransansweb_fanum_.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('./libraries/IS/woff/iransansweb_fanum_.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./libraries/IS/ttf/iransans_fanum_.ttf') format('truetype');
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;
    overscroll-behavior-y: none;

    background-color: #fff;
    padding: 2.5rem;

    display: flex;
}

/* GENERAL */
a:link,
a:visited {
    color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
    flex-basis: 50rem;
    background-color: var(--color-dark--1);
    padding: 3rem 5rem 4rem 5rem;
    display: flex;
    flex-direction: column;
position: relative;
}



.logo {
    height: 5.2rem;
    align-self: center;
    margin-bottom: 4rem;
}

.workouts {
    list-style: none;
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
}

.workouts::-webkit-scrollbar {
    width: 0;
}

.workout {
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.5rem 2.25rem;
    margin-bottom: 1.75rem;
    cursor: pointer;
    overflow: visible;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem 1.5rem;
}

.workout--running {
    border-left: 5px solid var(--color-brand--2);
}
.rtl .workout--running{
    border-left: unset;
    border-right: 5px solid var(--color-brand--2);

}

.workout--cycling {
    border-left: 5px solid var(--color-brand--1);
}

.rtl .workout--cycling{
    border-left: unset;
    border-right: 5px solid var(--color-brand--1);
}

.workout__title {
    font-size: 1.7rem;
    font-weight: 600;
    grid-column: 1 / -1;
}

.workout__details {
    display: flex;
    align-items: baseline;
}

.workout__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
}


.workout__value {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.rtl .workout__value{
    margin-left: 0.5rem;
    margin-right: unset;
}

.workout__unit {
    font-size: 1.1rem;
    color: var(--color-light--1);
    text-transform: uppercase;
    font-weight: 800;
}

.form {
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.5rem 2.75rem;
    margin-bottom: 1.75rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2.5rem;

    /* Match height and activity boxes */
    /*height: 9.25rem;*/
    height: auto;
    transition: all 0.5s, transform 1ms;
}

.form.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
}

.form__row {
    display: flex;
    align-items: center;
}

.rtl .form__row{
    flex-direction: row-reverse;
}
.form__row--hidden {
    display: none;
}

.form__label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
}

.rtl .form__label{
    padding-right: 1rem;
}
.form__input {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: var(--color-light--3);
    transition: all 0.2s;
}

.form__input:focus {
    outline: none;
    background-color: #fff;
}

.form__btn {
    display: none;
}

.copyright {
    margin-top: auto;
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
    color: var(--color-light--1);
    transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
    color: var(--color-light--2);
}

/* MAP */
#map {
    flex: 1;
    height: 100%;
    background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
    background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--2);
}

.cycling-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--1);
}

.workout__weather {
    position: absolute;
    font-size: 2rem;
    top: -1px;
    left: 2px;
}

.rtl .workout__weather {
    right: 9px;
    left: unset;
}
.workout__remove {
    right: 0;
}

.rtl .workout__remove {
    right:unset;
    left:0
}

.workout__edit {
    right: 25px;
}
.rtl .workout__edit{
    left: 25px;
    right: unset;
}
.workout__icons {
    position: absolute;
    top: -8px;
    font-size: 23px;
    cursor: pointer;
    transition: all .3s;
}



.workout__remove:hover {
    color: #cd0f0f;
}

.workout__edit:hover {
    color: #0078A8;
}

.form__fullWidth {
    grid-column: 1/-1;
}

.form__input--description {
    resize: none;
    margin-top: .5em;
}

.messages {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 7rem;
    width: auto;
    min-width: 10rem;
    height: auto;
    min-height: 5rem;
    max-width: 70vw;
    background: #fff;
    color: var(--color-dark--2);
    display: grid;
    border-radius: 7px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    grid-template-columns: [icon-start]3rem [icon-end type-start] 1fr [type-end];
    grid-template-rows: 3rem auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1.5rem;
    z-index: 1111111111111;
    grid-gap: 1rem;
    transition: all .2s ease-in;
}

.messages__border-success {
    border-bottom: 3px solid #00c46a;
}

.messages__border-error {
    border-bottom: 3px solid #cd0f0f;
}

.messages__border-msg{
    border-bottom: 3px solid #0078A8;
}

.messages__icon {
    grid-column: icon-start/ icon-end;
    grid-row: 1/2;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
}

.messages__type {
    grid-column: type-start/ type-end;
    grid-row: 1/2;
    font-size: 2rem;
    font-weight: bold;
}
.btn__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.btn {
    width: 5rem;
    padding: 1rem;
    color: #2d3439 !important;
    border: 1px solid #2d3439;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem 1rem 0 0;
    transition: all .2s;
    border-radius: 6px;
}

.btn--cancel:hover {
    background: #cd0f0f;
    color: #fff !important;
    border:1px solid transparent;
}

.btn--agree:hover {
    background: #00c46a;
    color: #fff !important;
    border:1px solid transparent;
}

.cancel__finishMarker {
    text-decoration: none;
    position: absolute;
    top: 50px;
    right: 50px;
    color: #2d3439 !important;
    box-shadow: 0 2px 2px #0000003b;
    transition: all .2s linear;
    z-index: 11111111;
    font-size: 1.8rem;
    font-weight: bold;
    border: 1px solid #2d3439;
    padding: 1rem;
    border-radius: 7px;
    background: #b5b4b40d;
    backdrop-filter: blur(10px);
}

.messages__error {
    color: #cd0f0f;
}

.messages__success {
    color: #00c46a;
}

.messages__msg{
    color: #0078A8;
}

.messages__description {
    grid-column: 1/-1;
    font-size: 1.7rem;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: visible;
}

.sort {
    height: auto;
    width: 100%;
    margin-bottom: 1.3rem;
    display: flex;
}

.sort__btn:link,
.sort__btn:visited {
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 .25rem;
    background: var(--color-dark--2);
    font-weight: 600;
    transition: all .2s;
    font-size: 1.3rem;
    width: auto;
    border-radius: 15px;
    color: var(--color-light--3) !important;
}

.sort__btn:hover {
    background: #00c46a;
}

.globe {
    border: 2px solid #0078A8;
    border-radius: 50%;
    height: 140px;
    right: 25px;
    overflow: hidden;
    filter: drop-shadow(2px 3px 6px #787778FF);
    background: #fff;
    position: absolute;
    transform: scale(.4);
    bottom: 25px;
    width: 140px;
    z-index: 11111111;
    cursor: pointer;
}

.rtl .globe{
    right: unset;
    left : 25px;
}

.globe_help{
    z-index: 11111111;
    position: absolute;
    bottom: 130px;
    right: 102px;
    font-size: 12px;
    padding: 1rem;
    width: auto;
    font-weight: bold;
    background-color: #42484d;
    border-radius: 5px;
    box-shadow: 0 2px 5px #5a5a5a;
    color: #ececec !important;
    transition: all .6s linear;
}
.rtl .globe_help{
    left: 102px;
    right: unset;
}


.globe_help::before{
    content: '';
    background-color: #42484d;
    position: absolute;
    right: 0;
    bottom: -11px;
    width: 25px;
    height: 15px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.rtl .globe_help:before{
    right: unset;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    left: 0;
}
.globe>svg:hover {
    animation: rotation 1s linear 0s;
}
.rtl .globe>svg:hover {
    animation: rtl_rotation 1s linear 0s;
}
.globe svg path {
    stroke: #0078A8;
}


.language{
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 7rem;
    border-radius: 5px;
    height: 3rem;
    transition: all .3s linear;
    box-shadow: 0 2px 5px #0000001f;
    display: flex;
    justify-content: space-around;
    background: var(--color-dark--2);
    font-size: 1rem;
    color: #fff;
    align-items: center;
}

.rtl_absolute{
    left:unset !important;
    right: 1rem;
}

.language__item{
    cursor: pointer;
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.language__selected{
    font-weight: bold;
    background: var(--color-brand--2);
    width: 3.5rem;
    height: 2.3rem;
    border-radius: .5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.47);
}


@keyframes rotation {
    from {
        transform: translateX(0);
    }

    from {
        transform: translateX(-50%);
    }
}

@keyframes rtl_rotation {
    from {
        transform: translateX(0);
    }

    from {
        transform: translateX(50%);
    }
}
.rtl{
    direction: rtl;
    font-family: IRANSans,Tahoma,Arial;
}
.rtl .leaflet-popup{
    font-family: IRANSans,Tahoma,Arial;
}